Flask==3.1.0Flask-Login==0.6.0Unidecode==1.1.1pandas==2.2.1google-api-python-client==1.12.5google-cloud-storage==1.38.0gcsfs==0.7.1seaborn==0.13.2regex==2024.5.15Babel==2.8.0sendgrid==6.4.7ua-parser==0.10.0user-agents==2.2.0google-auth==1.29.0Werkzeug==3.1.0matplotlib==3.8.3beautifulsoup4==4.12.2joblib==1.2.0tqdm==4.65.0openai==1.55.3sib_api_v3_sdk==7.6.0python-dotenv==1.0.1PyPDF2==3.0.1reportlab==4.2.5PyDrive2==1.19.0markdown-it-py==3.0.0lxml==5.3.0numpy==1.26.3markdown==3.6pyOpenSSL==24.2.1