<!DOCTYPE html>
<html lang="en" class="concursos_page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equic="X-UA-Compatible" content="ie=edge">
    <title>liateratura</title>
    <link rel='icon' href='/static/feather_icon.png' type='image/png' >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>	    
	
<body>
    <div id="loading" class="loading"><h1 id="loading_title" class="loading_title">La IA, rumiando a todo trapo....</h1><br></div>
    <div class="contest_wrapper" id="contest_chooser">
        <div class="contest_chooser" id="contest_chooser">
            <h1>Elige el concurso en el que te gustaría participar</h1>
            <div class="contest_names" id="contest_names">
                {%for k, conc in content.items()%} 
                    <button class="button-48" id="c_name_{{k}}" role="button" data-value="{{k}}" onclick=toggle_details(this)><span class="text">{{conc.clean_name}}</span></button>
                {%endfor%} 
            </div>
            <div class="contest_rules" id="contest_rules" style="display:none">
             {%for k, conc in content.items()%} 
                <ul class="dropdown-menu" id="secondSel_{{k}}" style="display:none">         
                    {%for ik, iconc in conc['rules'].items()%} 
                        {% if "Url" == ik %} 
                            <li><a href={{iconc}} target="_blank"><strong>Enlace a la página en la que se anuncia el concurso</strong></a></li>
                        {% else %}
                            <li><strong>{{ik}}</strong>:    {{iconc}}</li>
                        {% endif %}
                    {%endfor%} 
                </ul>
            {%endfor%}
            </div>
        </div>

        <form method="post" class="generate_story" id="generate_story" onsubmit="trigger()">
            <h2>Añádele más chicha a tu historia (si te da por ahí)</h1>
            <input type="hidden" id="select_contest_form" name="select_contest_form" value="0">
            <label id="story_addons_label" for="browser">También me gustaría que </label>
            <input type="text" list="" name="story_addons_form" id="story_addons_form" autocomplete="off">
            <datalist id="addons_opts">
                {%for stadd in story_addons%} 
                    <option value="{{stadd}}">{{stadd}}</option>
                {%endfor%} 
            </datalist>
            <button class="button-51" id="button4change2story" role="button" type="submit" value="submit">Enviar</button>
        </form>
     </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        
        function toggle_details(clicked_button) {
            var i =  $('#select_contest_form').attr("value")
            
            if ($('#secondSel_'+i).length > 0) {
              $('#secondSel_'+i).hide();
              $('#c_name_'+i).css("background-color","white")
            }

            var cid = $(clicked_button).attr("data-value");
            
            if ($('#secondSel_'+cid).length > 0){
                $('#contest_rules').show();
                $('#secondSel_'+cid).show();
                $('#c_name_'+cid).css("background-color","#b1d6e655");
                $('#select_contest_form').attr("value", cid);
            }
        };
                 
        function trigger(){
            document.getElementById("button4change2story").style.display = "none";
            document.getElementById("loading").style.display = "block"; 
        }; 
        
        
        function fancyDropdown(inputId){
            id = document.getElementById(inputId);
            datalist = id.nextElementSibling;
            var minWidth = datalist.offsetWidth;
            
            function outputsize(){
              if (id.offsetWidth < minWidth ){
                datalist.style.minwidth = (id.offsetWidth+25)+'px';
              }else{
                datalist.style.width = (id.offsetWidth+25)+'px';
              }
            }
        
            new ResizeObserver(outputsize).observe(id);
        
            id.addEventListener("input", function(e){
                datalist.style.display = "block";
                var text = id.value;
                let hide = 1;
                for (let option of datalist.options) {
                    if(option.value.indexOf(text) > -1){
                        option.style.display = "block";
                        hide = 0;
                    } else {
                        option.style.display = "none";
                    }
                }
                if (hide){
                    datalist.style.display = "none";
                }
            });
        
            id.addEventListener("click", function(e){
            
                let hide = 1;
                for (let option of datalist.options) {
                    if (window.getComputedStyle(option, null).display == "block") hide = 0;
                }
                  
                if (datalist.style.display == "block" || hide == 1){
                    datalist.style.display = "none";
                } else {
                    datalist.style.display = "block";
                }
            });
            
            document.addEventListener("click", function(e){
            
              if (e.target.tagName == "OPTION"){
                  id.value = e.target.value;
              }
              if (e.target.tagName !== "DATALIST" && e.target.tagName !== "INPUT"){
                  datalist.style.display = "none";
              }
            
            });
            
            datalist.style.display = "none";
        }
        
        
        fancyDropdown('story_addons_form');
                

    </script>

</body>
</html>

