<!DOCTYPE html>
<html lang="en" class="concursos_page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equic="X-UA-Compatible" content="ie=edge">
    <title>liateratura</title>
    <link rel='icon' href='/static/feather_icon.png' type='image/png' >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16808012795"></script>
</head>	    

	
<body>
    <div class="contest_names" id="contest_names">
        <!-- For loop logic of jinja template -->
        {%for k, conc in content.items()%} 
            <button class="button-48" id="contest_name_btn" role="button" data-value="{{k}}"><span class="text">{{conc["clean_name"]}}</span></button>
        {%endfor%} 
    </div>
            
    <div class="contest_rules" id="contest_rules">
        {%for k, conc in content.items()%} 
            <ul class="dropdown-menu" id="secondSel">
                <li data-value="{{k}}">{{ conc.get("premio") }}</li>
                <li data-value="{{k}}">{{ conc.get("extension") }}</li>
            </ul>
        {%endfor%} 
    </div>

    <script type="text/javascript">
        
        var buttons = document.getElementsByClassName("button-48");
        buttons.on("click",function() {
            var value = $(this).attr("data-value");
            document.getElementsByClassName("contest_rules").find("li").hide();
            document.getElementsByClassName("contest_rules").find("li[data-value="+value+"]").show();
        });

    </script>

</body>
</html>
